body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5b03a;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.input-section,
.output-section {
  margin-bottom: 20px;
}

textarea, input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(18, 94, 166);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #835607;
}
